[submodule "projects_based_on_c"]
	path = projects_based_on_c
	url = https://github.com/rby90/project-based-tutorials-in-c
[submodule "project-based-learning"]
	path = project-based-learning
	url = https://github.com/tuvtran/project-based-learning
